<div class="grid">
    {{!-- <!-- title for the page --> --}}
    <h1 id="title">Charts</h1>

    {{!-- <!-- charts --> --}}
    <div class="charts">


    </div>

</div>

{{!-- <script src="/assets/script.js"></script> --}}