<div class="grid">
    {{!-- <!-- title for the page --> --}}
    <h1 class="title">Activities At-A-Glance</h1>

    {{!-- <!-- charts --> --}}
    <div class="charts">
        {{!-- left chart --}}
        <div class="week-chart m-2 ml-3 p-2 rounded overflow-auto">
            <canvas id="week-charts"></canvas>
        </div>
        {{!-- right chart --}}
        <div class="activity-chart m-2 mr-3 p-2 rounded">
            <form class="text-center mb-5">
                <h5 class="my-3 mx-5">Select a date to see the distribution of the activities saved</h5>
                <div class="form-group row mx-2 justify-content-center">
                    <select id="date-chart" class="form-control col-md-10 mr-1">
                        <option id="today-6"></option>
                        <option id="today-5"></option>
                        <option id="today-4"></option>
                        <option id="today-3"></option>
                        <option id="today-2"></option>
                        <option id="today-1"></option>
                        <option selected value="" id="today"></option>
                    </select>
                    <button type="submit" class="btn" id="goBtn">GO</button>
                </div>
            </form>
            <canvas id="activity-charts" class="mt-4"></canvas>
        </div>
        <div id="footer-btns" class="mr-3">
            <button type="submit" class="btn d-inline float-right redirectBtn" id="home-btn"><i class="fas fa-home"></i></button> 
            <button type="submit" class="btn d-inline float-right redirectBtn" id="dashboard-btn"><i class="far fa-clock"></i></h1>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="/js/charts.js"></script>