<div class="grid">
    {{!-- <!-- title for the page --> --}}
    <h1 id="title">Login</h1>

    {{!-- <!-- login form --> --}}
    <div class="loginpage">
        <form>
            <div class="form-row mx-auto col-md-4">
                <input type="text" class="form-control my-2" id="username" placeholder="Username">
            </div>
            <div class="form-row mx-auto col-md-4">
                <input type="password" class="form-control my-2" id="password" placeholder="Password">
            </div>
            <div class="form-row mx-auto col-md-1 text-center">
                <button type="submit" class="btn btn-warning my-2" id="submitLogin">Submit</button>
            </div>
        </form>

    </div>

</div>

{{!-- <script src="/assets/script.js"></script> --}}