<div class="grid">
    <!-- title for the page -->
    <h1 id="title">Time Management Training</h1>
    <!-- questions -->
    <div class="info">
        <h3 class="text-center mt-5 mb-4">Tired of missing deadlines, <br /> feeling overwhelmed by work and school,
            <br />and never having enough free time?</h3>
        <hr class="bg-warning mx-5">
        <h3 class="text-center my-4">Do you ever feel like you spend all day on something and don't get anything
            done?</h3>
        <hr class="bg-warning mx-5">
        <h3 class="text-center mt-4 mb-5">Take the first step to <b>improve</b> <br />your <b>time management skills</b>
            by
            <br />tracking your daily activities <br />and seeing where time really goes</h3>
    </div>
    <!-- calendar on the right -->
    <div class="register ml-5 mt-5">
        <h4><b>Register</b> to start having more free time!</h4>
        <form id="register-form">
        {{!-- <form action="/" method="POST" id="register-form"> --}}
            <div class="form-row col-md-10 registerForm">
                <input type="text" class="form-control my-1" name="firstName" placeholder="First Name">
            </div>
            <div class="form-row col-md-10 registerForm">
                <input type="text" class="form-control my-1" name="lastName" placeholder="Last Name">
            </div>
            <div class="form-row col-md-10 registerForm">
                <input type="text" class="form-control my-1" name="username" placeholder="Username">
            </div>
            <div class="form-row col-md-10 registerForm">
                <input type="email" class="form-control my-1" name="email" placeholder="Email address">
            </div>
            <div class="form-row col-md-10 registerForm">
                <input type="password" class="form-control my-1" name="password" placeholder="Password">
            </div>
            <div class="form-row registerForm">
                <input type="submit" class="btn btn-warning my-1" id="registerBtn">
            </div>

            {{!-- </form> --}}
            <h6 class="mt-5">Already have an account? <a href="/login" class="text-warning">Click here</a> to login
            </h6>
    </div>
</div>

<script src="/js/register.js"></script>