<div class="grid">
    <!-- title for the page -->
    <h1 class="title">Time Management Training</h1>
    <!-- questions -->
    <div class="info">
        <h3 class="text-center mt-5 mb-4">Tired of missing deadlines, <br /> feeling overwhelmed by work and school,
            <br />and never having enough free time?</h3>
        <hr class="bg-warning mx-5">
        <h3 class="text-center my-4">Do you ever feel like you spend all day on something and don't get anything
            done?</h3>
        <hr class="bg-warning mx-5">
        <h3 class="text-center mt-4 mb-5">Take the first step to <b>improve</b> <br />your <b>time management skills</b>
            by
            <br />tracking your daily activities <br />and seeing where time really goes</h3>
    </div>
    <!-- Start on the right -->
    <div class="start text-center">
        <h4 class="mb-3">You can have more free time TODAY!</h4>
        <button type="submit" class="btn btn-warning mt-3" id="startBtn">START NOW</button>
    </div>
</div>

<script src="/js/start.js"></script>