body {
    margin: 0;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: #394E72;
    color: #F1F1E6;
  }

body::after {
    content: "";
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-image: url(./clocks.jpg);
    background-size: cover;
    opacity: 0.05;
    z-index: -1;
}

.grid {
    display: grid;
    grid-template-columns: 9% 40% 2% 40% 9%;
    grid-template-rows: 150px 1fr 100px;
    height: 100vh;
    grid-template-areas: 
        "navbar navbar navbar navbar navbar"
        "sidebar activities gap calendar rightbar"
        "footer footer footer footer footer";
}

.activities {
    grid-area: activities;
}

.charts {
    grid-column: activities / span 3;
    background-color: grey
}

#calendar {
    border: 2px solid #BDD0FB;
    background-color: #BDD0FB;
    color: #404756;
    border-radius: 5px;
    grid-area: calendar;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(72, 1fr);
    grid-template-areas: 
        "time0000 slot0000" "time0000 slot0020" "time0000 slot0040"
        "time0100 slot0100" "time0100 slot0120" "time0100 slot0140" 
        "time0200 slot0200" "time0200 slot0220" "time0200 slot0240" 
        "time0300 slot0300" "time0300 slot0320" "time0300 slot0340"
        "time0400 slot0400" "time0400 slot0420" "time0400 slot0440"
        "time0500 slot0500" "time0500 slot0520" "time0500 slot0540" 
        "time0600 slot0600" "time0600 slot0620" "time0600 slot0640"
        "time0700 slot0700" "time0700 slot0720" "time0700 slot0740"
        "time0800 slot0800" "time0800 slot0820" "time0800 slot0840"
        "time0900 slot0900" "time0900 slot0920" "time0900 slot0940"
        "time1000 slot1000" "time1000 slot1020" "time1000 slot1040"
        "time1100 slot1100" "time1100 slot1120" "time1100 slot1140"
        "time1200 slot1200" "time1200 slot1220" "time1200 slot1240"
        "time1300 slot1300" "time1300 slot1320" "time1300 slot1340"
        "time1400 slot1400" "time1400 slot1420" "time1400 slot1440"
        "time1500 slot1500" "time1500 slot1520" "time1500 slot1540"
        "time1600 slot1600" "time1600 slot1620" "time1600 slot1640"
        "time1700 slot1700" "time1700 slot1720" "time1700 slot1740"
        "time1800 slot1800" "time1800 slot1820" "time1800 slot1840"
        "time1900 slot1900" "time1900 slot1920" "time1900 slot1940"
        "time2000 slot2000" "time2000 slot2020" "time2000 slot2040"
        "time2100 slot2100" "time2100 slot2120" "time2100 slot2140"
        "time2200 slot2200" "time2200 slot2220" "time2200 slot2240"
        "time2300 slot2300" "time2300 slot2320" "time2300 slot2340";
}

.time {
    font-family: 'Archivo', sans-serif;
    text-align: right;
    font-size: 1.2rem;
    padding-right: 30%;
    padding-bottom: 10%;
}

label {
    font-size: 1rem; 
    margin-top: 20px;
}

#title {
    grid-area: navbar;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}

.t0000 {
    grid-area: time0000;
}

.t0100 {
    grid-area: time0100;
}

.t0200 {
    grid-area: time0200;
}

.t0300 {
    grid-area: time0300;
}

.t0400 {
    grid-area: time0400;
}

.t0500 {
    grid-area: time0500;
}

.t0600 {
    grid-area: time0600;
}

.t0700 {
    grid-area: time0700;
}

.t0800 {
    grid-area: time0800;
}

.t0900 {
    grid-area: time0900;
}

.t1000 {
    grid-area: time1000;
}

.t1100 {
    grid-area: time1100;
}

.t1200 {
    grid-area: time1200;
}

.t1300 {
    grid-area: time1300;
}

.t1400 {
    grid-area: time1400;
}

.t1500 {
    grid-area: time1500;
}

.t1600 {
    grid-area: time1600;
}

.t1700 {
    grid-area: time1700;
}

.t1800 {
    grid-area: time1800;
}

.t1900 {
    grid-area: time1900;
}

.t2000 {
    grid-area: time2000;
}

.t2100 {
    grid-area: time2100;
}

.t2200 {
    grid-area: time2200;
}

.t2300 {
    grid-area: time2300;
}

.sleep {
    background-color: #2C58B8;
}

.leisure {
    background-color: #35B35A;
}

.work {
    background-color: #B31A19;
}

.eat {
    background-color: #FAE123;
}

.school {
    background-color: #5a32b8;
}

.other {
    background-color: #EB9007;
}

#buttons {
    float: right;
}

#saveDash, #saveMore {
    background-color: rgb(140, 154, 189);
}

#saveDash:hover, #saveMore:hover {
    background-color: rgb(100, 111, 138);
    color: #F1F1E6;
}

