body {
    margin: 0;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: #394E72;
    color: #F1F1E6;
  }

body::after {
    content: "";
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-image: url(./clocks.jpg);
    background-size: cover;
    opacity: 0.05;
    z-index: -1;
}

.grid {
    display: grid;
    grid-template-columns: 9% 40% 2% 40% 9%;
    grid-template-rows: 140px 1fr 110px;
    height: 100vh;
    grid-template-areas: 
        "navbar navbar navbar navbar navbar"
        "sidebar leftcolumn gap rightcolumn rightbar"
        "sidebarBottom footer footer footer rightbarBottom";
}

.title {
    grid-area: navbar;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}

.subtitle {
    grid-area: navbar;
    margin-top: 120px;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}

/* ************************** HOME PAGE ************************** */
.info {
    grid-area: leftcolumn;
    background-color: rgb(108, 112, 116);
    border-radius: 10px;
    box-shadow: 3px 3px 15px black;
    margin: auto;
}

.start {
    grid-area: rightcolumn;
    margin: auto;
}


/* ************************** DASHBOARD PAGE ************************** */
/* activities' form on the left */
.activities {
    grid-area: leftcolumn;
}

label {
    font-size: 1rem; 
    margin-top: 20px;
}

#buttons {
    float: right;
}

#goToChartsBtn, #saveBtn {
    background-color: #BDD0FB;
}

#goToChartsBtn:hover, #saveBtn:hover {
    background-color: rgb(100, 111, 138);
    color: #F1F1E6;
}

/* calendar on the right */
#calendar {
    border: 2px solid #BDD0FB;
    background-color: #BDD0FB;
    color: #404756;
    border-radius: 5px;
    grid-area: rightcolumn;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(80, 12px);
    grid-template-areas: 
        "date date" "date date" "date date" 
        "date date" "date date" "date date" 
        "time0000 slot0" "time0000 slot20" "time0000 slot40"
        "time0100 slot100" "time0100 slot120" "time0100 slot140" 
        "time0200 slot200" "time0200 slot220" "time0200 slot240" 
        "time0300 slot300" "time0300 slot320" "time0300 slot340"
        "time0400 slot400" "time0400 slot420" "time0400 slot440"
        "time0500 slot500" "time0500 slot520" "time0500 slot540" 
        "time0600 slot600" "time0600 slot620" "time0600 slot640"
        "time0700 slot700" "time0700 slot720" "time0700 slot740"
        "time0800 slot800" "time0800 slot820" "time0800 slot840"
        "time0900 slot900" "time0900 slot920" "time0900 slot940"
        "time1000 slot1000" "time1000 slot1020" "time1000 slot1040"
        "time1100 slot1100" "time1100 slot1120" "time1100 slot1140"
        "time1200 slot1200" "time1200 slot1220" "time1200 slot1240"
        "time1300 slot1300" "time1300 slot1320" "time1300 slot1340"
        "time1400 slot1400" "time1400 slot1420" "time1400 slot1440"
        "time1500 slot1500" "time1500 slot1520" "time1500 slot1540"
        "time1600 slot1600" "time1600 slot1620" "time1600 slot1640"
        "time1700 slot1700" "time1700 slot1720" "time1700 slot1740"
        "time1800 slot1800" "time1800 slot1820" "time1800 slot1840"
        "time1900 slot1900" "time1900 slot1920" "time1900 slot1940"
        "time2000 slot2000" "time2000 slot2020" "time2000 slot2040"
        "time2100 slot2100" "time2100 slot2120" "time2100 slot2140"
        "time2200 slot2200" "time2200 slot2220" "time2200 slot2240"
        "time2300 slot2300" "time2300 slot2320" "time2300 slot2340";
}

#calendarDate {
    grid-area: date;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.time {
    font-family: 'Archivo', sans-serif;
    text-align: right;
    font-size: 1.2rem;
    padding-right: 30%;
    padding-bottom: 10%;
}

.popover {
    color: black;
}

/* type of activity colors */
.sleep {
    background-color: #2C58B8;
}

.leisure {
    background-color: #35B35A;
}

.work {
    background-color: #B31A19;
}

.eat {
    background-color: #FAE123;
}

.school {
    background-color: #5a32b8;
}

.other {
    background-color: #EB9007;
}

/* footer */
.colors {
    grid-area: footer;
    margin: auto;
}

.color-footer {
    font-size: 0.85rem;
}

/* ************************** CHARTS PAGE ************************** */
.charts {
    grid-column: sidebar / span 5;
    grid-row: sidebar / span 2;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 85% 15%;
    grid-template-areas: 
        "topLeft topRight"
        "bottomLeft bottomRight" 
}

.week-chart {
    grid-area: topLeft;
    background-color: rgb(189, 208, 251, .4);
}

.activity-chart {
    grid-area: topRight;
    background-color: rgb(189, 208, 251, .4);
}

#goBtn {
    background-color: #BDD0FB;
}